interface {{classname}}States {
	
}

interface {{classname}}Props {

}

export class {{classname}} extends React.Component<{{classname}}Props, {{classname}}States> {

	constructor(props: {{classname}}Props) {
		super(props);
		this.state = {};
	}

	render() {
		return (
			<div>

			</div>
		);
	}
}
